
.model-charts-btn-list {
    width: 100%;

    & .model-charts-btn-itemBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        & .unselect-btn {
		    background-size: 100%;

            & .model-charts-arrow{
                display: none;
            }
        }

        & .select-btn {
            background-size: 100%;

            & .model-charts-arrow {
                display: inline-block;
            }
        }

        & .model-charts-btn {
            width: 86px;
            height: 24px;
            position: relative;
            cursor: pointer;

            & span {
                display: block;
                color: #fff;
                font-size: 10px;
            }

            & img {
                width: 14px;
            }

            & .model-charts-btn-tlt {
                position: absolute;
                top: -8px;
                left: 50%;
                transform: translateX(-50%);
            }
    
            & .model-charts-btn-data {
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
            }
    
            & .model-charts-arrow {
                position: absolute;
                bottom: -14px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    & .model-charts-arrow-box {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 175, 255, 0.2);
        margin-top: 10px;
    }
}
